<div>
    <input type="text" name="username" placeholder="Username" id="username" />
    <input type="password" name="password" placeholder="Password" id="password"/>
    <button type="submit" name="submit_login" id="submit_login">Login</button>
</div>